{% extends "_base.html" %}

{% block title %}Создать аккаунт{% endblock %}

{% block content %}
    <div class="card">
        <h1>Регистрация</h1>
        <div class="login-form">
            <form action="{% url 'account:register' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
{% endblock %}