.cars {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cars .card {
    padding: 30px;
    width: 400px;
    margin-top: 10px;
    text-align: left;
    border-radius: 10px;
	box-shadow: 5px 5px 20px #aaa;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #201d35;
}

.add {
    padding: 10px;
    align-items: center;
}

.add img {
    vertical-align: middle;
}