.menu {
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: #201d35;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    flex-direction: row;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.menu li {
    display: inline;
}

.menu a {
    color: #f3f3f3;
    font-size: 30px;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    display: inline-block;
    width: 300px;
}

.menu label {
    margin-bottom: 20px;
}

.button {
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.button img {
    vertical-align: middle;
}