{% extends 'base.html' %}

{% load static %}

{% block title %}Список автомобилей{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <div class="change">
        {% if user == car.owner %}
            <a href="{% url 'cars:edit' pk=car.id %}">
                <div class="button">
                    <span><img src="{% static 'img/edit.svg' %}" alt=""></span>
                    <span class="label">Изменить</span>
                </div>
            </a>
        {% endif %}
    </div>
    <div class="car_info">
        <div class="car_make">
            <span class="label">Марка: </span>
            <span class="data">{{ car.make }}</span>
        </div>
        <div class="car_model">
            <span class="label">Модель: </span>
            <span class="data">{{ car.model }}</span>
        </div>
        <div class="car_year">
            <span class="label">Год выпуска: </span>
            <span class="data">{{ car.year }}</span>
        </div>
        <div class="car_description">
            <span class="label">Описание: </span>
            <span class="data">{{ car.description }}</span>
        </div>
    </div>
    <div class="comments">
        <h2>Комментарии</h2>
        {% for comment in car.comments.all %}
            <div class="comment">
                <div class="label" id="author">{{ comment.author }}</div>
                <div class="comment_content">
                    {{ comment.content|linebreaks }}
                </div>
            </div>
        {% empty %}
            <p>Нет Комментариев</p>
        {% endfor %}
        <div class="new_comment">
            {% include 'cars/include/comment_form.html' %}
        </div>
    </div>
{% endblock %}